Q1.Create one variable containing following type of data:
i.string
ii.list
iii.float
iv.tuple

In [1]:
#String
string_variable = "Hello"

#List
list_variable = [1, 2, 3]

#Float
float_variable = 3.14

#Tuple
tuple_variable = (4, 5, 6)

Q2. Given are some following variables containing data:  <br> i.var1=''
<br> ii.var2='[DS,ML,Python]' <br> iii.var3=['DS','ML','Python'] <br> iv.var=1.
<br> what will be the data type of the above given varible.
<br>Answer:
<br>(i) var1 is an empty string, so its data type is str.
<br>(ii) var2 is a string containing a list as a string, so its data type is str.
<br>(iii) var3 is a list, so its data type is list.
<br>(iv) var4 is a float because of the decimal point, so its data type is float.

 Q3. Explain the use of the following operators using an example:
  <br> i. /
  <br>Answer : / is a division operator.  
  <br>ii. %
  <br>Answer : % is a modulo operator.use to find mod.
  <br>iii. //
  <br>Answer : // is a floor division operator. 
  <br> iv. **
  <br>Answer : ** is a exponentiation operator.

In [2]:
# Example of  the above
#i./
10/3

3.3333333333333335

In [3]:
#ii.%
8%2

0

In [4]:
#iii.//
8//3

2

In [5]:
#iv. **
2**3

8

In [6]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
#element and its data type.
#answer :
list = [1, 'hello', 3.14, True, [1, 2, 3], 'world', False, 42, (4, 5), None]

for element in list:
    print(f"Element: {element}, Data Type: {type(element)}")

Element: 1, Data Type: <class 'int'>
Element: hello, Data Type: <class 'str'>
Element: 3.14, Data Type: <class 'float'>
Element: True, Data Type: <class 'bool'>
Element: [1, 2, 3], Data Type: <class 'list'>
Element: world, Data Type: <class 'str'>
Element: False, Data Type: <class 'bool'>
Element: 42, Data Type: <class 'int'>
Element: (4, 5), Data Type: <class 'tuple'>
Element: None, Data Type: <class 'NoneType'>

In [7]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
#times it can be divisible.
#Answer :

A = 30
B = 3
count = 0

while A % B == 0:
    A /= B
    count += 1

print(f"A is divisible by B {count} times.")

A is divisible by B 1 times.

In [8]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
#divisible by 3 or not.
#Answer :

int_list = [i for i in range(1, 26)]


for num in int_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.
25 is not divisible by 3.

In [9]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
#this property.
#Answer :
#Mutable and immutable are terms used to describe whether an object's state or value can be changed after it is created.
#Mutable Data Types:
#Objects of mutable data types can be modified after creation.
#Examples include lists, dictionaries, and sets.
#Changes made to the object directly affect the original object.
mutable_list = [1, 2, 3]
mutable_list[0] = 100
print(mutable_list)  # Output: [100, 2, 3]

[100, 2, 3]

In [10]:
#Immutable Data Types:
#Objects of immutable data types cannot be modified after creation.
#Examples include strings, tuples, and integers.
#Any operation that appears to modify the object actually creates a new object.
immutable_tuple = (1, 2, 3)
# The following line would raise an error since tuples are immutable:
immutable_tuple[0] = 100

TypeError: 'tuple' object does not support item assignment